<p>updateproduct works!</p>

<div class="container">
    <div class="mt-3">
        <form #form="ngForm" (ngSubmit)="onUpdate()">
            <div class="mt-2">
                <label class="form-label">ID</label>
                <input type="number" class="form-control" id="ProductId" name="ProductId" [(ngModel)]="model.id">
            </div>

            <div class="mt-2">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control" id="ProductName" name="ProductName" [(ngModel)]="model.name" >
            </div>

            <div class="mt-2">
                <label class="form-label">Product Price</label>
                <input type="number" class="form-control" id="ProductPrice" name="ProductPrice" [(ngModel)]="model.price">
            </div>
            
            <div class="mt-3">
            <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
