<nav class="navbar navbar-expand-lg border border-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">Community Forum</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " [routerLink]="['/forum/posts']" role="button"  aria-expanded="false">
              Community Forum
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="!service.isAuthenticated()">
            <li class="nav-item">
              <a class="btn btn-primary"  style="margin-left: auto;" [routerLink]="['/user/login']">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="service.isAuthenticated()">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello {{user.username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li *ngIf="service.isUser()"><a class="dropdown-item" [routerLink]="['/user-profile']">User Profile</a></li>
              <li *ngIf="service.isAdmin()"><a class="dropdown-item" [routerLink]="['/admin']">Admin Dashboard</a></li>
              <li *ngIf="service.isAdmin()"><a class="dropdown-item" [routerLink]="['/admin/unapproved-posts']">Unapproved Posts</a></li>
              <li *ngIf="service.isUser()"><a class="dropdown-item" [routerLink]="['/posts/my-posts']">Forum Posts Posted</a></li>
              <li *ngIf="service.isUser()"><a class="dropdown-item" [routerLink]="['/my-comments']">Comments Made</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" (click)="onLogout()">LogOut</button>
          </li>
        </ul>
        
        
      </div>
    </div>
  </nav>
