.container{
    margin-left: 220px;
}
.custom-table {
    width: 100%;
    background-color: #d5def5;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #aaa;
    background-color: #d5def5;
}

.custom-table th {
    background-color: #c4d3e3;
    font-weight: bold;
}

.custom-table tr:nth-child(even) {
    background-color: #e9eff9;
}

.custom-table tr:hover {
    background-color: #c4d3e3;
}

.custom-table thead th {
    border-bottom: 2px solid #aaa;
}
