<app-navbar></app-navbar>

<!-- <div class="container border border-dark mt-5">
    
    <form #form="ngForm" (ngSubmit)="onPost()">
    
        <div class="mb-3 mt-3">
            <label for="exampleInputPostTitle" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="exampleInputPostTitle" aria-describedby="emailHelp" [(ngModel)]="post.posttitle" name="PostTitle">
          </div>
    
        <div class="mb-3 mt-3">
          <label for="exampleInputDescription" class="form-label">Post Description</label>
          <textarea class="form-control" id="exampleInputDescription" rows="3" [(ngModel)]="post.postdescription" name="PostDescription"> </textarea>
        </div>
    
        <button type="submit" class="btn btn-primary mb-3" *ngIf="service.isAuthenticated()">Post</button>
        
      </form>
    </div> -->

    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>COMMUNITY POST</span>
                <span>HERE</span>
              </div>
              
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <form #form="ngForm" (ngSubmit)="onPost()">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="POST TITLE" name="title" [(ngModel)]="post.posttitle">
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" placeholder="POST DESCRIPTION" name="desc" [(ngModel)]="post.postdescription">
                </div>
                <div class="app-form-group buttons">
                  <button class="app-form-button" (click)="toPost()">CANCEL</button>
                  <button type="submit" class="app-form-button">SEND</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    