
<app-admin-dashboard></app-admin-dashboard>
<div class="main-content">
    
    <div class="card-container">
        <div class="card">
            <i class="fas fa-users card-icon"></i>
            <h3>User List</h3>
            <p>Manage the list of users, view details, and perform actions.</p>
            <a [routerLink]="['/admin/user-lists']" class="card-button">Go to User List</a>
          </div>
    
          <div class="card">
            <i class="fas fa-tasks card-icon"></i>
            <h3>Unapproved Posts</h3>
            <p>Review and approve or delete unapproved posts submitted by users.</p>
            <a [routerLink]="['/admin/unapproved-posts']" class="card-button">Go to Unapproved Posts</a>
          </div>

          <div class="card">
            <i class="fas fa-file-alt card-icon"></i>
            <h3>Add News</h3>
            <p>Manage Latest Football News and Transfer News.</p>
            <a [routerLink]="['/admin/add-news']" class="card-button">Add News</a>
          </div>
    
          <div class="card">
            <i class="fas fa-cogs card-icon"></i>
            <h3>Delete News</h3>
            <p>Manage the published news by heading towards the delete news section.</p>
            <a [routerLink]="['/admin/list-delete-news']" class="card-button">Go to Delete News Section</a>
          </div>
  </div>
</div>
