
<app-admin-dashboard></app-admin-dashboard>
<div class="main-content">
    
    <div class="card-container">
        <div class="card">
            <i class="fas fa-users card-icon"></i>
            <h3>User List</h3>
            <p>Manage the list of users, view details, and perform actions.</p>
            <a [routerLink]="['/admin/user-lists']" class="card-button">Go to User List</a>
          </div>
    
          <div class="card">
            <i class="fas fa-tasks card-icon"></i>
            <h3>Unapproved Posts</h3>
            <p>Review and approve or delete unapproved posts submitted by users.</p>
            <a [routerLink]="['/admin/unapproved-posts']" class="card-button">Go to Unapproved Posts</a>
          </div>

          <div class="card">
            <i class="fas fa-file-alt card-icon"></i>
            <h3>Reports</h3>
            <p>View and manage user reports and activity logs.</p>
            <a href="#reports" class="card-button">Go to Reports</a>
          </div>
    
          <div class="card">
            <i class="fas fa-cogs card-icon"></i>
            <h3>Settings</h3>
            <p>Manage application settings and configurations.</p>
            <a href="#settings" class="card-button">Go to Settings</a>
          </div>
  </div>
</div>
