<h1>List of Products</h1>

<div class="container">
    <div class="mt-3">
        <div class="mt-2 d-flex justify-content-end">
            <button class="btn btn-primary" [routerLink]="['add']"> Add Product</button>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-3">Product List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>

          <th class="d-flex justify-content-end" style="margin-right: 54px;">Action</th>

          
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
            <td class="d-flex justify-content-end"><button class="mr-1" mat-icon-button color="primary" [routerLink]="['update/',product.id]"><mat-icon>edit</mat-icon></button>
            <!-- <td><a class="btn btn-warning" [routerLink]="['update/',product.id]">Update</a></td> -->
            <!-- <td><a class="btn btn-danger" (click)="onDelete(product.id)">Delete</a></td> -->
            <button class="mr-1" mat-icon-button color="warn" (click)="onDelete(product.id)"><mat-icon>delete</mat-icon></button>
          <button class="mr-1" mat-icon-button [routerLink]="['view/',product.id]"><mat-icon>visibility</mat-icon></button></td>
          </tr>
      </tbody>
    </table>
  </div>
 