<app-navbar></app-navbar>
<div class="container">
    <div class="profile-card">
      <div class="profile-header">
        <div class="avatar">
          <img src="https://via.placeholder.com/150" alt="User Avatar">
        </div>
        <div class="profile-title">
          <h1 class="name">{{user.firstname}} {{user.lastname}}</h1>
          <p class="subtitle">Web Designer</p>
        </div>
      </div>
      <div class="profile-info">
        <div class="details">
          <p><strong>Email:</strong> {{user.email}}</p>
          <p><strong>Address:</strong> {{user.address}}</p>
          <p><strong>Date of Birth:</strong> {{user.dob}}</p>
        </div>
      </div>
    </div>
    <div class="edit-button justify-content-center">
    <button class="btn btn-primary" [routerLink]="['/edit']">Edit Profile</button>
  </div>
  </div>