<app-admin-dashboard></app-admin-dashboard>

<div class="container justify-content-center mt-3 w-50 ">
    <div class="card text-center mb-3 border border-dark" *ngFor="let post of unapproved">
      <div class="card-header">
        {{post.posttitle}}
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{post.postdescription}}</p>
      </div>
      <div class="card-footer text-muted">
        
        <button class="btn btn-warning" type="submit" (click)="onApprove(post.id)">Approve</button>
        <button class="btn btn-danger" type="submit" (click)="onDelete(post.id)">Delete</button>
      </div>
    </div>
</div>
