<!-- <app-admin-dashboard></app-admin-dashboard>
<div class="container">
    <div style="display:flex;width:100%;">
        <form (ngSubmit)="onUpdate(team.id)">
            <div style="width:100%;">
                <p>Team Name</p>
                <input name="name" autofocus [(ngModel)]="team.teamname">
            </div>
            <div style="width:100%;">
                <p>Points</p>
                <input type="number" name="id" [(ngModel)]="team.points">
            </div>

            <button type="submit" class="btn btn-primary">ADD</button>
        </form> 
    </div>
</div> -->