<app-navbar></app-navbar>

<div class="container justify-content-center w-75 mt-3">
    <div class="card text-center mb-3" >
      <div class="card-header">
        {{post.posttitle}}
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{post.postdescription}}</p>
      </div>
      <div class="card-footer text-muted d-flex justify-content-between align-items-center">
        <div>
          {{post.firstname}} {{post.lastname}}
        </div>
      </div>
    </div>
</div>

<form #form="ngForm">
<div class="container justify-content-center w-50 mt-3" *ngIf="service.isAuthenticated()">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Add Comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="commentMessage.commentMessage">
        </textarea>
        <button type="submit" class="btn btn-primary" (click)="onComment()">Comment</button>
      </div>
</div>
</form>
<div class="container justify-content-center w-50 mt-3" *ngFor="let comment of comments">
    <div class="card text-center mb-3" >
      <div class="card-header">
        {{comment.firstName}} {{comment.lastName}}
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{comment.commentMessage}}</p>
      </div>
    </div>
</div>