<app-admin-dashboard></app-admin-dashboard>

<!-- 
<div class="card-container mt-5">
    <div class="card">
        <h1>Add News</h1>
        <form #form="ngForm" (ngSubmit)="onPost()">
    
            <div class="mb-3 mt-3">
                <label for="exampleInputPostTitle" class="form-label">News Title</label>
                <input type="text" class="form-control" id="exampleInputPostTitle" [(ngModel)]="news.newstitle"  name="NewsTitle">
              </div>
        
            <div class="mb-3 mt-3">
              <label for="exampleInputDescription" class="form-label">News Description</label>
              <input type="textarea" class="form-control" id="exampleInputDescription" [(ngModel)]="news.newsdescription" name="NewsDescription">
            </div>
        
            <button type="submit" class="btn btn-primary mb-3">Post</button>
            
          </form>
     
      </div>
</div> -->

<div class="container">
  <div style="display:flex;width:100%;">
      <form (ngSubmit)="onPost()">
          <div style="width:100%;">
              <p class="team-name">News Title</p>
              <input name="name" autofocus [(ngModel)]="news.newstitle">
          </div>
          <div style="width:100%;">
              <p class="team-points">News Description</p>
              <input type="text" name="id" [(ngModel)]="news.newsdescription">
          </div>

          <button type="submit" class="btn btn-primary">ADD</button>
      </form> 
  </div>
</div>