<app-navbar></app-navbar>
<div class="container">
    
<form #form="ngForm" (ngSubmit)="onLogin()">

    <div class="mb-3 mt-3">
        <label for="exampleInputUserName1" class="form-label">USERNAME</label>
        <input type="text" class="form-control" id="exampleInputUserName1" aria-describedby="emailHelp" [(ngModel)]="model.username" name="exampleInputUserName1">
      </div>

    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label">EMAIL ADDRESS</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="model.email" name="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="model.password" name="exampleInputPassword1">
    </div>

    <div class="not-Registered mb-3 mt-3">
      <a [routerLink]="['register']">Not Registered? You can sign-up here</a>
    </div>

    <button type="submit" class="btn btn-primary mb-3" >Log In</button>    
  </form>
</div>

<!-- 

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #form="ngForm" (ngSubmit)="onLogin()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Username" name="username"[(ngModel)]="model.username">
				</div>
        <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" placeholder="Email" name="email" [(ngModel)]="model.email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" name="password" [(ngModel)]="model.password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div> -->