<div class="container border border-primary">
    
<form #form="ngForm" (ngSubmit)="onLogin()">

    <div class="mb-3 mt-3">
        <label for="exampleInputUserName1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputUserName1" aria-describedby="emailHelp" [(ngModel)]="model.username" name="exampleInputUserName1">
      </div>

    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="model.email" name="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="model.password" name="exampleInputPassword1">
    </div>

    <div class="mb-3 mt-3">
      <a [routerLink]="['register']">Not Registered? You can sign-up here</a>
    </div>

    <button type="submit" class="btn btn-primary mb-3" >Log In</button>

    
  </form>
</div>